BasedOnStyle: LLVM
BreakBeforeBraces: Attach
AllowShortNamespacesOnASingleLine: true
AlignOperands: Align
SpaceBeforeCtorInitializerColon: true
IndentWidth: 4
UseTab: Never
BreakTemplateDeclarations: Yes
AccessModifierOffset: -4
ColumnLimit: 170
ObjCBinPackProtocolList: Never
BinPackParameters: true
AllowShortBlocksOnASingleLine: Empty
BreakConstructorInitializers: AfterColon
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
LambdaBodyIndentation: OuterScope
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: Never
BinPackArguments: true
BitFieldColonSpacing: None
BreakFunctionDefinitionParameters: false
BreakInheritanceList: AfterComma
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
SpaceInEmptyBlock: true
Cpp11BracedListStyle: false
AlignAfterOpenBracket: BlockIndent
CompactNamespaces: true
AlignConsecutiveMacros: true
InsertBraces: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
KeepEmptyLinesAtEOF: false